<div class="px-6 py-3">
  <div class="px-6 py-3 flex items-center justify-between">
    <h1
      class="pl-2 pt-4 text-2xl font-semibold text-white tracking-wider hover:underline"
    >
      Playlist created
    </h1>

    <span
      class="show-more-less"
      style="float: right"
      [routerLink]="['/home/showAll', userId, 'ProfilePlaylist']"
      >Show more</span
    >
  </div>
  <div *ngIf="profile$ | async as profile">
    <app-list-item [items$]="playlists$"></app-list-item>
  </div>
</div>

<div class="px-6 py-3">
  <div class="px-6 py-3 flex items-center justify-between">
    <h1
      class="pl-2 pt-4 text-2xl font-semibold text-white tracking-wider hover:underline"
    >
      Top artist this month
    </h1>

    <span
      class="show-more-less"
      style="float: right"
      [routerLink]="['/home/showAll', -1, 'Profile']"
      >Show more</span
    >
  </div>
  <div *ngIf="profile$ | async as profile">
    <app-list-item
      [shouldApplyRoundedClass]="true"
      [items$]="artist$"
    ></app-list-item>
  </div>
</div>
