:host{
  display: block;
  width: 100%;
}
button{
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  padding: 10px 0px 10px 20px;
  border-radius: 5px;
  text-align: left;
  font-weight: 600;
  font-size: .8rem;
  background-color: #222222;
  cursor: pointer;
}

:host button.active {
  background-color: #37AB00;
}


span{
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  white-space: nowrap;
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
