:host {
  height: 50vh;
  max-height: 60vh;
  margin-top: 15px;
  width: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container .image {
  height: 200px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.controls {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 3;
  margin-top: 210px;
  margin-bottom: 20px;
}

span {
  font-size: 0.9rem;
  font-weight: 900;
  color: #d0d0d0;
}

.buttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.8rem;
  cursor: pointer;
}
audio {
  width: 100%;
  height: 20px;
  background-color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
}
