
.playIcon {
  color: #37ab00;
  font-size: 0.7rem;
  padding-left: 3.5%;
}




.clock {
  padding-left: 5%;
}

.selected-song {
  font-weight: bold;
  box-shadow: 1px 1px 10px #d0d0d0;
}

.show-more-less {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}
.redHeartIcon {
  color: red;
}

tr:hover td {
  cursor: pointer;
  color: #37ab00;
}
