<td *ngIf="songs && songs.length>0">
<span class="title title-bg mt-4"> Music </span>

  <table class="custom-table mt-3" >
  <thead>
    <tr class="mb-4">
      <th class="w-5">#</th>
      <th class="w-25">Title</th>
      <th class="w-16">Artist</th>
      <th class="w-16"><fa-icon class="clock" [icon]="clockIcon"></fa-icon></th>
      <th class="w-16">Album</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let song of displayedSongs"
      [class.selected-song]="(playerService.currentSong$ | async) === song"
    >
      <td><fa-icon [icon]="playIcon" class="playIcon"
                   (click)="PlaySong(song)"></fa-icon></td>
      <td>{{ song.title }}</td>
      <td>{{ getArtists(song) }}</td>
      <td>{{ song.time }}</td>
      <td>{{ song.album.name }}</td>
      <td style="padding-left: 3%" *ngIf="playlist && isCurrentUserOwner$ | async">
        <i class="fas fa-trash-alt" (click)="deleteItem(song)" style="cursor: pointer;"></i>
      </td>
      <td>
        <div *ngIf="!song.isLiked">
          <i class="fa-regular fa-heart" (click)="addToLikedSongs(song)"></i>
        </div>
        <div *ngIf="song.isLiked==true">
          <i class="fa fa-heart-o" (click)="removeFromLikedSongs(song)" ></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<span class="show-more-less" (click)="toggleShowMore()">
  {{ showMore ? "Show Less" : "Show More" }}
</span>
</td>
