@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.small-card {
  width: 100%;
}
.show-more-less {
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}
