<div id="searchId" class="container-fluid p-2">
  <div class="d-flex align-items-center">
    <div class="search-section__btn-container"></div>
    <div class="ml-3 w-50">
      <form [formGroup]="searchForm">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1"
            ><fa-icon [icon]="searchIcon"></fa-icon
          ></span>
          <input
            type="text"
            formControlName="search"
            class="form-control"
            id="inputSearch"
            placeholder="Search for tracks, artists, or albums"
          />
        </div>
      </form>
    </div>
  </div>
</div>
<span class="title title-bg mt-4" *ngIf="(artists$ | async)?.length">
  Artists
</span>
<app-list-item
  [shouldApplyRoundedClass]="true"
  [items$]="artists$"
></app-list-item>

<span class="title title-bg mt-4" *ngIf="(shows$ | async)?.length">
  Playlists
</span>
<app-list-item
  [shouldApplyRoundedClass]="false"
  [items$]="playlists$"
></app-list-item>

<span class="title title-bg mt-4" *ngIf="(albums$ | async)?.length">
  Albums
</span>
<app-list-item
  [shouldApplyRoundedClass]="false"
  [items$]="albums$"
></app-list-item>

<span class="title title-bg mt-4" *ngIf="(episodes$ | async)?.length">
  Episodes
</span>
<app-list-item
  [shouldApplyRoundedClass]="false"
  [items$]="episodes$"
></app-list-item>

<span class="title title-bg mt-4" *ngIf="(shows$ | async)?.length">
  Shows
</span>
<app-list-item
  [shouldApplyRoundedClass]="false"
  [items$]="shows$"
></app-list-item>

<span class="title title-bg mt-4" *ngIf="(audiobooks$ | async)?.length">
  Audiobooks
</span>
<app-list-item
  [shouldApplyRoundedClass]="false"
  [items$]="audiobooks$"
></app-list-item>
