<div class="artist-profile" *ngIf="artist$ | async as artist">
  <app-playlist-header
    [name]="artist.name"
    [imageUrl]="artist.images[0]?.url"
    [followers]="artist.followers.total"
    [verified]="true"
    class="mt-2 d-block"
  ></app-playlist-header>

  <div class="topTracks">
    <app-music-list [songs]="topTracks$ | async" />
  </div>
  <div class="Albums">
    <app-list-item
      [title]="'Album'"
      [items]="albums$ | async"
      [shouldApplyRoundedClass]="false"
    ></app-list-item>
  </div>
  <div class="relatedArtists">
    <app-list-item
      [title]="'Fans also like'"
      [items]="relatedArtists$ | async"
      [shouldApplyRoundedClass]="true"
    ></app-list-item>
  </div>
</div>
