<app-card-group
  [title]="'Popular Playlists'"
  [input]="popularPlaylists$ | async"
  [inputAll]="popularPlaylistsAll$ | async">
</app-card-group>

<app-card-group
  [title]="'Workout Playlists'"
  [input]="workoutPlaylists$ | async"
  [inputAll]="workoutPlaylistsAll$ | async">
</app-card-group>

<app-card-group
  [title]="'Pop Playlists'"
  [input]="popPlaylists$ | async"
  [inputAll]="popPlaylistsAll$ | async">
</app-card-group>

<app-card-group
  [title]="'Chill Playlists'"
  [input]="chillPlaylists$ | async"
  [inputAll]="chillPlaylistsAll$ | async">
</app-card-group>

